.navbar {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   width: 50%;
   background-color: #f8f8f8;
   padding: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .yourbotarmy {
    display: flex;
    flex-direction: column; 
    flex-wrap:wrap;
    height:20px
  }

#botbattlr{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color:gray;
    border: 3px solid black;
}

form {
  border: 3px solid black; 
  padding: 20px; 
  width: 300px; 
  margin: 0 auto; 
}

form input {
  width: 80%; 
  padding: 10px;
  margin-bottom: 15px;
}

form button {
  background-color: black; 
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.botcollection{
  border: 3px solid black;
}