.navbar {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   width: 50%;
   background-color: #f8f8f8;
   padding: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .yourbotarmy {
    display: flex;
    flex-direction: column; 
    flex-wrap:wrap;
    height:20px
  }

#botbattlr{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color:gray;
}